@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Sofia+Sans:wght@400;500;600;700;800&display=swap");
.container {
  margin: 10px 20px;
  font-family: "Sofia Sans", sans-serif;
}
.container .head1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
}
.container .add {
  text-align: center;
  margin-bottom: 20px;
}
.container .tel {
  text-align: center;
  margin-bottom: 30px;
}
.container .head2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 25px;
}
.container .head4 {
  display: flex;
  justify-content: space-between;
}
.container .head5 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
table {
  width: 100%;
  border-spacing: 0;
  /* margin:auto; */
  border-collapse: collapse;
}
td {
  text-align: center;
  padding-top: 10px;
}
th {
  text-align: center;
  padding-top: 28px;
}
.item {
  text-align: left;
}
.amt {
  text-align: right;
}
.gst {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}
.grTotal {
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 800;
}
.footer {
  text-align: center;
  margin-bottom: 5px;
}
.space{
  margin-right:100px;
  font-weight: 600;
}
.space2 {
  margin-right: 60px;
}
@media only screen and (min-width: 400px) {
  .space2 {
    margin-right: 100px;
  }
  .space{
    margin-right: 150px;
  }
}
@media only screen and (min-width: 700px) {
  .container{
    margin:10px 30px;
  }
  .space2 {
    margin-right: 250px;
  }
  .space{
    margin-right:290px
  }
}
@media only screen and (min-width: 1200px) {
  .container{
    margin:10px 50px;
  }
  .space2 {
    margin-right: 500px;
  }
  .space{
    margin-right: 550px;
  }
}
